body {
  font-family: sans-serif;
}

main {
  background-color: rgb(235, 255, 213);
  padding: 20px 15px;
}

main > h2 {
  background-color: #4c5450;
  padding: 15px;
  color: white;
}

main > h3 {
  background-color: #60d0a8;
  padding: 15px;
  color: white;
}

main > p {
  background-color: hsl(56, 62%, 85%);
  padding: 20px;
}

li {
  display: inline;

  margin-left: 5px;
}